
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: rgb(221, 24, 90);
    color: white;
    border: solid 2px black;
    font-family:cursive ; 
}