<div class="teste">
  <div class="divInput">
    <div class="barraDeMenu" *ngIf="aparecer">

    </div>
    <button class="aparecer" (click)="aparecerInput()">{{adicionarTarefa}}</button>
  </div>

  <H1 class="titulo">
    TODO APP
  </H1>
  <div class="trocaDeAba">
    <button id="botaoTarefa" (click)="reiniciar()" class="botaoTarefas"
      routerLink="/todo"><strong>TAREFAS</strong></button>
    <button (click)="reiniciar()" class="botaoTarefas" 
    routerLink="/categoria"><strong>CATEGORIA</strong></button>
    <button (click)="reiniciar()" class="botaoTarefas" 
    routerLink="/propriedade"><strong>PROPRIEDADES</strong></button>
    <button (click)="reiniciar()" class="botaoTarefas" 
    routerLink="/pagina-cadastro"><strong>CADASTRO</strong></button>
    <button (click)="reiniciar()" class="botaoTarefas" 
    routerLink="/pagina-login"><strong>LOGIN</strong></button>
  </div>
  <br>
  <router-outlet></router-outlet>
</div>

