<H1 class="titulo">  
  TODO APP
</H1>
<div class="divInput" >
  <input class="input"
  placeholder="Nome" 
  [(ngModel)]="tarefa.nome">
    <input class="input"
          placeholder="Descrição" 
          [(ngModel)]="tarefa.descricao">

    <button (click)="cadastrarTarefa()">Cadastrar </button>
    <select [(ngModel)]="tarefa.categoria">
      <option value="Todo">TODO</option>
      <option value="Doing">DOING</option>
      <option value="Done">DONE</option>
    </select>
  </div>

<div *ngFor="let tarefa of tarefas;index as indice">
  <div class="nome">
    <h3>{{tarefa.nome}}</h3>
    <h4 class="categoria">{{tarefa.categoria}}</h4>
  </div>
  <div class="tarefa">  
    <h4 >
      {{tarefa.descricao}}
    </h4>

  </div>

    

  <div>
      <button  (click)="removerTarefa(indice)">Remover Tarefa</button>
      <select [(ngModel)]="tarefa.categoria" (change)="mudar()">
        <option value="Todo">TODO</option>
        <option value="Doing">DOING</option>
        <option value="Done">DONE</option>
      </select>
   
    
  </div>
</div>