h1 {
    margin: 0;
}


.teste {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: transparent;
    border: solid 2px black;
    font-family: cursive;
    width: 100%;
    border-radius:10px 10px 0px 0px ;
}

.botaoTarefas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    background-color: transparent;
    border: solid black 1px;
    font-family: cursive;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    color: white;
}
.botaoTarefas:hover{
 opacity: initial;
 background-color: white;
 color: black;
}

.aparecer {
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    word-wrap: break-word;
    font-size: 15px;
    position: absolute;
    margin-top: 15px;
    background-color: transparent;
    border: solid lightblue 1px;
    font-size: 30px;
}

.trocaDeAba {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: black;
    border: solid black 2px;
    border-radius: 0px 0px 10px 10px;
}
.barraDeMenu{
    width: 10%;
    height: 100% ;
    background-color: #FCF7F8;
    position: absolute;
}

