.tarefa {
    border: solid 2px black;
    width: 200px;
    padding: 0 10px;
    word-wrap: break-word;
    background-color: pink;
    color: black;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

.divInput {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
    position: absolute;
    flex-direction: column;
    background-color: rgb(83,25,77);
    border-radius: 20px;
    align-items: center;
    -webkit-box-shadow: -3px 1px 15px 5px #000000;
    box-shadow: -3px 1px 15px 5px #000000;
    

}

.input {
    width: 70%;
    height: 70px;
    background-color: transparent;
    color: white;
    border: solid 1px black;
    display: flex;
    justify-content: center;

}

.categoria {
    width: 50px;
    height: 17px;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.nome {
    height: 60px;
    width: 200px;
    word-wrap: break-word;

}

.nomeLista {
    display: flex;
    justify-content: space-evenly;
    width: 190px;
    align-items: center;
    color: white;

    
}

.divLista {
    display: flex;
    padding: 0 40px;
    width: 100% -1;
    background-color:rgb(83,25,77);
    border-radius: 10px;
    -webkit-box-shadow: -3px 1px 15px 5px #000000;
    box-shadow: -3px 1px 15px 5px #000000;
    margin-top: 30px;
    overflow-x: auto;
    border: solid 1px black;
    font-family: cursive;
}

.div {
    display: block;
    width: 210px;
    padding: 0 100px;
    color: white;



}

.remover {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    margin-bottom: 3px;
}

.botoes {
    background-color: transparent;
    border: solid 1px black;
}

.botaoInput {
    background-color: transparent;
    color: white;
    width: 90px;
    border: solid 1px black;
}

input::placeholder {
    color: white;
}

.select {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
   
}

.divLista::-webkit-scrollbar-track {
    background-color: none;
    border-radius: 10px;


}

.divLista::-webkit-scrollbar {
    width: 1px;
    height: 10px;
}

.divLista::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
}

.categoriaNova {
    background-color: rgb(83,25,77);
    color: white;
    border: solid 1px black;
    width: 130px;

}

.aparecer {
    height: 50px;
    width: 50px;
    font-size: 40px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    margin: 20px;
    position: absolute;
    transition: 0.5s;

}

.botaoCadastrar {
    background-color: transparent;
    color: white;
    width: 90px;
    border: solid 1px black;
    border-radius: 10px;
}

.tituloTabela {
    display: flex;
    justify-content: center;
    font-family: cursive;
    margin-top: 125px;
}
select{
    background-color: rgb(83,25,77);
}
.botaoRemoverTarefa{
    height: 30px;
    width: 30px;
    border: solid pink 1px;
    font-size: 10px;
    background-color: pink;
    border-radius: 0% 30% 0% 0%;
    font-size: 15px;
}
.botaoRemoverTarefa:hover{
    background-color: red;
    color: white;
}
.EstilizacaoBotaoRemovertarefa{
   
    display: flex;
    justify-content: end;
    width: 210px;
}
.divMaiorDaTarefa{
    width: 180px;
    display: flex;
    justify-content: center;
}
.aparecer:hover{
    width: 70px;
    height: 70px;
    font-size: 50px;
    background-color: rgb(0, 0, 0);
    color: white;
    transition: 0.5s;
    position: absolute;
}
.escolha{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
    border: solid 1px white;
}
