<button class="aparecer" (click)="aparecerInput()">{{adicionarTarefa}}</button>
<div class="divInput" *ngIf="aparecer==true">
  <div class="botaoCategoria" (keyup)="cliqueEnter($event)">
    <input class="categoriaNova1" placeholder="Adicionar Categoria" [(ngModel)]="categoriaCadastro">
    <button class="categoriaNova2" (click)="categoriaNova()" [disabled]="!hasPermission('Add')">Nova Categoria</button>
  </div>
</div>
<div class="tituloTabela">
  <h2>Categorias</h2>
</div>
<div class="tabelaCategorias">
  <div class="divLista">

    <div class="nomeLista" *ngFor="let categoria of categorias,index as indice">
      <button class="botaoRemoverCategoria" (click)="removerCategoria(indice)"[disabled]="!hasPermission('Remove')">X</button>
      {{categoria}}
        
    </div>
  </div>
</div>